{% extends "base.html.twig" %}

{% block title %}Edit Game{% endblock %}

{% block content %}
    <h2>Edit Game: {{ game.game_title }}</h2>
    
    {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
    {% endif %}
    
    <form method="POST" action="process-update.php">
        <input type="hidden" name="game_id" value="{{ game.game_id }}">
        
        <div>
            <label>Game Title:</label><br>
            <input type="text" name="game_title" value="{{ game.game_title }}" required maxlength="200">
        </div>
        
        <div>
            <label>Description:</label><br>
            <textarea name="game_description" rows="5" required>{{ game.game_summary }}</textarea>
        </div>
        
        <div>
            <label>Release Year:</label><br>
            <input type="number" name="release_year" value="{{ game.release_year }}" min="1970" max="2025" required>
        </div>
        
        <div>
            <label>Rating (1-5):</label><br>
            <input type="number" name="game_rating" step="0.1" min="1" max="5" value="{{ game.score }}" required>
        </div>
        
        <div>
            <input type="submit" value="Update Game">
            <a href="game-info.php?id={{ game.game_id }}">Cancel</a>
        </div>
    </form>
{% endblock %}